<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="card clickable">
      <div class="card-header">
        O jakie zajebiste ogłoszenie
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img class="card-media-image"
               src="https://easyeda.com/assets/static/images/avatar-default.png">
          <div class="card-media-description">
            <span class="card-media-title">
                            O jaka wyjebana sprawa
                        </span>
            <span class="card-media-text">
                            Prawnik: Przechuj Bandyta
                        </span>
          </div>
        </div>
        <div class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim
          voluptate saepe
          corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Biorę!</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="card clickable">
      <div class="card-header">
        O jakie kolejne zajebiste ogłoszenie
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img class="card-media-image"
               src="https://orig03.deviantart.net/b9a8/f/2016/017/1/4/confused_john_travolta_meme__comment_chat_emoticon_by_gold94chica-d9ocibb.gif">
          <div class="card-media-description">
            <span class="card-media-title">
                            O jaka wyjebana sprawa
                        </span>
            <span class="card-media-text">
                            Prawnik: Zenek Kupatasa
                        </span>
          </div>
        </div>
        <div class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim
          voluptate saepe
          corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod.
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Biorę fchuj!</button>
      </div>
    </div>
  </div>
</div>
